<p id="notice"><%= notice %></p>

<p>
  <strong>Merchantuseremail:</strong>
  <%= @food_truck.merchantUserEmail %>
</p>

<p>
  <strong>Name:</strong>
  <%= @food_truck.name %>
</p>

<p>
  <strong>Foodtype:</strong>
  <%= @food_truck.foodType %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @food_truck.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @food_truck.latitude %>
</p>

<%= link_to 'Edit', edit_food_truck_path(@food_truck) %> |
<%= link_to 'Back', food_trucks_path %>
