<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @order.user.id %>
</p>

<p>
  <strong>Food truck:</strong>
  <%= @order.food_truck.id %>
</p>

<p>
  <strong>Id:</strong>
  <%= @order.id %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
