<p id="notice"><%= notice %></p>

<p>
  <strong>Orderid:</strong>
  <%= @order.OrderID %>
</p>

<p>
  <strong>Customeruseremail:</strong>
  <%= @order.CustomerUserEmail %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
